# Maven
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Java
*.class
*.jar
*.war
*.ear

# Logs
*.log
logs/

# VS Code
.vscode/

# SO
.DS_Store
Thumbs.db

# Spring profiles
application-*.properties
!application-prod.properties
application-*.yml
